{%extends "base/baseadmin.html"%}
{%block contenido%}
<html>
<head>
  <meta charset="utf-8">
  <title>Estadisticas</title>

</head>
<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/series-label.js"></script>
<script src="/static/js/export-data.js"></script>

<div id="container"></div>

<script>
  var ene=0;
  var feb=0;
  var mar=0;
  var abr=0;
  var may=0;
  var jun=0;
  var jul=0;
  var ago=0;
  var sep=0;
  var oct=0;
  var nov=0;
  var dic=0;
{% for cuenta in cuentas %}

{% if cuenta.fechaCuenta.month == 1 %}
    ene=ene+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 2 %}
    feb=feb+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 3 %}
    mar=mar+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 4 %}
    abr=abr+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 5 %}
    may=may+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 6 %}
    jun=jun+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 7 %}
    jul=jul+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 8 %}
    ago=ago+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 9 %}
    sep=sep+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 10 %}
    oct=oct+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 11 %}
    nov=nov+1;
{% endif %}
{% if cuenta.fechaCuenta.month == 12 %}
    dic=dic+1;
{% endif %}

{% endfor %}


  Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Ventas Realizadas'
    },
    subtitle: {
        text: 'Anual dividido en meses'
    },
    xAxis: {
        categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
    },
    yAxis: {
        title: {
            text: 'Dinero ($)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Ingresos',
        data: [ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic]
    }, ]
});
</script>


</body>
</html>

{%endblock contenido%}